body {
	font-family: 'Overpass' , sans-serif;
	font-size:18px;
	font-weight:500;
}

a.site-title, .site-nav {
	font-family: 'Overpass' ,sans-serif;
  	font-weight: 700;
  	letter-spacing:normal;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Overpass' ,sans-serif;
  	font-weight: 700;
}

a, a:visited {
    color: #FF404C;
    text-decoration: none;
    }

a:hover {
	color: #111;
	text-decoration: underline;
}

